* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sono", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.pricing-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing-plan {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0 10px;
    border-radius: 5px;
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}

.plan-features {
    list-style: none;
    padding: 0;
}

.plan-features li {
    margin-bottom: 5px;
}

.plan-button {
    background-color: #FF6500;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.plan-button:hover {
    background-color: #45a049;
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
    }

    .pricing-plan {
        margin-bottom: 20px;
        font-size: 15px;
    }

    /* .plan-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .plan-price {
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: bold;
    } */
}